.header {
  color: rgb(255,255,255);
  background-color: rgb(0,0,0);
  margins: 0;
  font-style: fantasy;
  alignment: left;
}

.first-list {
  display: flex;
  justify-content: space-between;
  background-color: red;
  color: black;
  padding: 20px;
  text-align: left;
  align-items: right;
  alignment: left
}

.image-one {
  float: right;
  margin-left: 25px;
  margin-right: 5px;
  alignment: right
}

.hd2cont {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px
}
